.first_line{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    column-gap: 70px;
}
.second_line{
    margin-top: 50px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}