.header_logo{
    font-family: 'Potta One', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.035em;
    text-align: left;
    color: rgba(86, 87, 89, 1);
}